@import 'theme';
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

header {
  background-color: var(--color-background);
  .container {
    height: 500px;
  }
}
.container {
  text-align: center;

  h1 {
    color: var(--color-secondary);
    font-size: 128px;
    margin-bottom: 20px;
    font-family: 'Titan One';
  }
}
header .container h2 {
  font-size: 40px;
  font-family: $font-family-body;
}
.link-github {
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 10px;
  color: var(--color-text);
  text-decoration: none;
}

.link-github span svg {
  width: 2%;
}

h2,
p {
  color: var(--color-text);
  font-size: 20px;
  font-family: $font-family-body;
}

body {
  margin: 0;
  background-image: url();
}

a {
  color: var(--color-secondary);
}
