@import 'theme';

header {
    // color: var(--color-primary);
}
.container {
    text-align: center;
    h1 {
        color: var(--color-secondary);
        font-size: 100px;
        margin-bottom: 20px;
    }  
}
.link-github {
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 10px;
    color: var(--color-text);
    text-decoration: none;
}

.link-github span svg {
    width: 2%;
    
}

h2, p {
    color: var(--color-text);
}


