#about .container:nth-child(2) {
  height: 898px;
  h2 {
    color: var(--color-text);
    font-size: 60px;
    margin-top: 200px;
    font-family: $font-family-header;
  }
  h2,
  p {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
  }
  p {
    color: var(--color-text);
    font-size: 22px;
  }
}

#about .container:nth-of-type(2) {
  margin-right: 200px;
  margin-left: 200px;
}

#about > .container:nth-of-type(2) > p:nth-of-type(2) {
  font-weight: bold;
  font-size: 24px;
}

#about > .container:nth-of-type(2) > p:nth-of-type(3) {
  font-family: $font-family-header;
  font-size: 25px;
}
