@import 'button';
#about .container:nth-child(2) {
  margin-bottom: 5%;
  h2 {
    color: var(--color-text);
    font-size: 60px;
    margin-top: 5%;
    font-family: $font-family-header;
  }
  h2,
  p {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
  }
  p {
    color: var(--color-text);
    font-size: 22px;
  }
}

#about .container:nth-of-type(2) {
  margin-right: 5%;
  margin-left: 5%;
}

#about > .container:nth-of-type(2) > p:nth-of-type(2) {
  font-weight: bold;
  font-size: 24px;
}

#about > .container:nth-of-type(2) > p:nth-of-type(3) {
  font-family: $font-family-header;
  font-size: 25px;
}

#about > .container:nth-of-type(2) > ul li {
  @include button(var(--color-primary));
  margin: 5px;
  font-size: 30px;
  display: inline-block;
  align-items: left;
}
#about > .container:nth-of-type(2) > ul {
  margin: 2% 15% 2% 15%;
}
