nav {
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: $font-family-body;
  font-size: 22px;
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    a {
      display: inline-grid;
      font-size: 1.25rem;
      text-decoration: none;
      padding: 10px;
      color: #433f4d;
    }
  }
  li {
    :hover {
      background-color: var(--color-background);
      border-radius: 20px 0px 20px 0px;
    }
    padding: 5px;
  }
}

// larger screen

@media (min-width: 992px) {
  nav ul {
    display: flex;
    justify-content: right;
    li {
      display: flex;
      a {
        padding: 20px;
      }
    }
  }
}
