@import 'theme';

nav {
    background-color: #EDA8D6;
    position: absolute;
    top: 0;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: right;
    margin: 0;
}
nav ul li {
    display: flex;
}
nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: #433F4D;
}

.container {
    padding: 10px;
}
