@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --color-background: #f6f7f5;
  --color-text: #433f4d;
  --color-primary: #eda8d6;
  --color-secondary: #ef912f;
  --font-family-header: 'Titan One';
  --font-family-body: 'Mulish';
}

.titan-one-regular {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40pt;
}

body {
  background-color: var(--color-background);
}

html {
  p,
  li {
    font-family: var(--font-family-body);
    font-size: 22px;
  }
}
// @mixin header2 {
//   color: var(--color-background);
//   font-size: 60px;
//   font-family: var(--font-family-header);
// }
