#guidelines {
    
    .container {
        background-color: var(--color-secondary);
        border-radius: 50px;
        width: 60%;
        margin: auto;
        padding: 20px;
        box-shadow: 5px 5px 5px rgba(176, 175, 175, 0.695);
        
        h2 {
            color: var(--color-background);
            font-size: 60px;
            font-family: $font-family-header;
        }
        h3 {
            color: var(--color-background);
            text-align: left;
        }
        p {
            color: var(--color-background);
            text-align: left;
            a {
                color: var(--color-background);
                font-weight: bold;
            }
        }
    }
}