@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --color-background: #F6F7F5;
  --color-text: #433F4D ;
  --color-primary: #EDA8D6 ;
  --color-secondary: #EF912F ;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  text-align: center;
}
.container h1 {
  color: var(--color-secondary);
  font-size: 128px;
  margin-bottom: 20px;
  font-family: "Titan One";
}

header .container h2 {
  font-size: 40px;
  font-family: "Mulish";
}

.link-github {
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 10px;
  color: var(--color-text);
  text-decoration: none;
}

.link-github span svg {
  width: 2%;
}

h2, p {
  color: var(--color-text);
  font-size: 20px;
  font-family: "Mulish";
}

body {
  margin: 0;
  background-image: url();
}

a {
  color: var(--color-secondary);
}

:root {
  --color-background: #F6F7F5;
  --color-text: #433F4D ;
  --color-primary: #EDA8D6 ;
  --color-secondary: #EF912F ;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: #EDA8D6;
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: right;
  margin: 0;
}

nav ul li {
  display: flex;
}

nav ul li a {
  padding: 20px;
  text-decoration: none;
  color: #433F4D;
}

.container {
  padding: 10px;
}

:root {
  --color-background: #F6F7F5;
  --color-text: #433F4D ;
  --color-primary: #EDA8D6 ;
  --color-secondary: #EF912F ;
}

.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
