:root {
  --color-background: #F6F7F5;
  --color-text: #433F4D ;
  --color-primary: #EDA8D6 ;
  --color-secondary: #EF912F ;
}

.container {
  text-align: center;
}
.container h1 {
  color: var(--color-secondary);
  font-size: 100px;
  margin-bottom: 20px;
}

.link-github {
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 10px;
  color: var(--color-text);
  text-decoration: none;
}

.link-github span svg {
  width: 2%;
}

h2, p {
  color: var(--color-text);
}

:root {
  --color-background: #F6F7F5;
  --color-text: #433F4D ;
  --color-primary: #EDA8D6 ;
  --color-secondary: #EF912F ;
}

nav {
  background-color: #EDA8D6;
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: right;
  margin: 0;
}

nav ul li {
  display: flex;
}

nav ul li a {
  padding: 20px;
  text-decoration: none;
  color: #433F4D;
}

.container {
  padding: 10px;
}

:root {
  --color-background: #F6F7F5;
  --color-text: #433F4D ;
  --color-primary: #EDA8D6 ;
  --color-secondary: #EF912F ;
}
